@charset "utf-8";

/* Test 1 Midterm
    
    Personal Bio
    Author: Roshan Joseph
    Date: 16/02/2024

    Filename: travel.css */

/* Body Styles */

body > h1,h2 {
 margin-left: 20px;
}

body > p {
margin-left: 20px;
}

body > img {
margin-left: 20px;
}